.box{
    width: 500px;
    height: 500px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 300px;
    height: 50px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-size: 20px;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-top: 2px solid white;
    animation: rotate_image 0.6s linear infinite;
} 

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

.check {
    position: absolute;
    left: 10%;
    top: 50%;
    border: solid 3px white;
    width: 30px;
    height: 15px;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    transform-origin: top left;
  }

  .check {
    animation: start 0.5s ease both;
    /* Override default play state paused of codepen iframe */
    animation-play-state: running!important;
  }
  
  @keyframes start {
    0% {
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    50% {
      opacity: 1;
      width: 0;
      height: 15px;
    }
    100% {
      width: 30px;
    }
  }