:root {
  --nav--entry--height: 39px;
  --main--default--margin: 4.1vw;
  --normal--font--size: 20px;
  --first--scale--down: 0.8;
  --second--scale--down: 0.7;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  outline: none;
}

.main_background {
    display: flex;
    flex-direction: column;
  width: 100%;
  height: calc(100vh - 99px);
  background-image: url("images/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - var(--main--default--margin) * 2);
  height: 51px;
  margin-left: var(--main--default--margin);
  margin-right: var(--main--default--margin);
  padding-top: 3%;
}

.main_nav .nav_logo {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

.main_nav .nav_list {
  display: flex;
  width: calc(846/1920*100vw);
  /* max-width: 846px;
  flex: 1; */
  justify-content: space-between;
  margin-left: 3%;
}

.main_nav .nav_list .current_page {
  text-decoration: underline;
}

.main_nav .nav_list li {
  color: white;
  font-weight: 400;
  font-size: var(--normal--font--size);
}

.main_nav .nav_list .nav_search_box {
  display: flex;
}

.main_nav .nav_list .nav_search_box .icon_search {
  margin-left: 3%;
}

.main_nav .nav_list .nav_search_box .search_text {
  width: 0px;
  height: 100%;
  color: white;
  outline: none;
  background: transparent;
  border: none;
  transition-duration: 1s;
}

.main_nav .nav_entry {
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav .nav_entry a {
  font-size: var(--normal--font--size);
}

.main_nav .nav_entry .entry_signup {
  width: 93px;
  height: var(--nav--entry--height);
  color: #ffcd00;
  text-align: center;
  line-height: var(--nav--entry--height);
  border: 2px solid #ffcd00;
  border-radius: 10px;
}

.content {
  margin-left: calc(168 / 1920 * 100vw);
  margin-top: calc(214 / 1080 * 100vh);
}

.content .des_01 {
  font-family: "Cabin Condensed", sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 6px;
  background-image: linear-gradient(to right, #ff8a00, #ffc746);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.content .des_02 {
  margin-top: calc(14 / 1080 * 100vh);
  margin-bottom: calc(28 / 1080 * 100vh);
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
  color: white;
  line-height: 124%;
}

.content .content_buttons {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.content .content_buttons .content_add {
  color: white;
  width: 200px;
  height: 61px;
  font-size: 22px;
  border: 1px solid white;
  border-radius: 61px;
  background: transparent;
  transition-duration: 0.5s;
}

.content .content_buttons .content_add:hover {
  color: #4b1e57;
  background-color: white;
}

.content .content_buttons .content_listen {
  color: white;
  width: 182px;
  height: 61px;
  font-size: 22px;
  border-radius: 61px;
  background: linear-gradient(to right, #ff5c00, #ffcd00);
  transition-duration: 0.5s;
}

.content .content_buttons .content_listen:hover {
  background: white;
  color: #ffcd00;
}

.player {
  width: 100vw;
  height: 99px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player .player_music {
  width: 220px;
  display: flex;
  flex-shrink: 0;
  max-width: 215px;
  height: 61px;
  margin-left: var(--main--default--margin);
}

.player .player_music .music_introduce {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player .player_music .music_album {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 3px;
}

.player .player_music .music_introduce .music_title {
  font-size: var(--normal--font--size);
  font-weight: 500;
  font-style: normal;
}

.player .player_music .music_introduce .music_singer {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.player .player_play {
  max-width: 566px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player .player_play .player_play_button {
  width: 566px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 24px;
  margin-bottom: 18px;
}

.player .player_play_time {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 18px;
}

.player .player_play_time .my_progress_touch {
  display: flex;
  align-items: center;
  width: 566px;
  height: 13px;
  margin: 0 20px;
}

.player .player_play_time .my_progress {
  width: 100%;
  height: 7px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

.player .player_play_time .my_bar {
  position: relative;
  width: 0%;
  height: 7px;
  background-color: white;
}

.player .player_play_time .my_bar::after {
  position: absolute;
  top: -2px;
  right: -2px;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
}

.player .player_options {
  width: 137px;
  margin-right: 83px;
  height: 31px;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--main--default--margin);
}

input[type='range']::-webkit-slider-thumb{
  outline: none;
  background-color: white;
  -webkit-appearance: slider-vertical;
}

.icon {
  transition-duration: 0.5s;
}
.icon:hover {
  transform: scale(1.2);
}

@media (min-width:1000px) and (max-width: 1200px), (max-height: 600px) {
    /* control nav list width */
  .main_nav .nav_list {
    transform: scale(var(--first--scale--down));
    flex: 1;
    max-width: 846px;
  }
  .main_nav .nav_logo {
    transform: scale(var(--first--scale--down));
  }
  .main_nav .nav_entry {
    transform: scale(var(--first--scale--down));
  }

  .content {
    transform: scale(var(--first--scale--down));
    margin-left: 0;
  }

  /* .player .player_music .music_album{
    width: 48px;
    height: 48px;
  }

  .player .player_play_button {
    transform: scale(var(--first--scale--down));
  }

  .player .player_play_time {
    transform: scale(var(--first--scale--down));
  }

  .player .player_options {
    transform: scale(var(--first--scale--down));
    margin-right: 0;
  } */
}

@media (max-width: 1000px){
    .player .player_music {
        transform: scale(var(--second--scale--down));
      }

      .player .player_play{
        width: 500px;
      }
    
      .player .player_play_button {
        transform: scale(var(--second--scale--down));
      }
    
      .player .player_play_time {
        transform: scale(var(--second--scale--down));
      }
    
      .player .player_options {
        transform: scale(var(--second--scale--down));
      }
}

@media (max-width: 850px){
    :root {
        --nav--entry--height: 5vw;
        --logo--font--size: 7vw;
    }
    .player{
        display: none;
    }
    .main_background{
        height: 100vh;
        background-image: url('images/mobile_background.jpg');
    }
    .main_nav .nav_list{
        display: none;
    }

    .main_nav{
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: space-between;
    }
    .main_nav .nav_logo{
        margin-left: 15px;
        font-size: var(--logo--font--size);
    }
    .main_nav .nav_entry{
        margin-right: 15px;
        width: auto;
        display: flex;
        justify-content: space-between;
    }
    .main_nav .nav_entry .entry_login{
        font-size: calc(var(--logo--font--size) *4/7);
        margin-right: 10px;
    }
    .main_nav .nav_entry .entry_signup{
        font-size: calc(var(--logo--font--size) *4/7);
        width: calc(var(--logo--font--size) * 16/7);
        border-radius: 5px;
    }



    .content {   
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        height: 100%;
        margin: 0;
    }
      
    .content .des_01 {
        font-size: calc(var(--logo--font--size) * 3/7);
    }
    
    .content .des_02 {
        font-size: calc(var(--logo--font--size) *88/63);
    }
    
    .content .content_buttons {
        margin: 0;
        width: calc(var(--logo--font--size) * 8);
    }
    
    .content .content_buttons .content_add {
        width: calc(var(--logo--font--size) * 8 * 194/445);
        height: 8vw;
        font-size: 3vw;
    }
    
    .content .content_buttons .content_listen {
        width: calc(var(--logo--font--size) * 8 * 225/445);
        height: 8vw;
        font-size: 3vw;
    }
}