:root {
  --nav--entry--height: 39px;
  --main--default--margin: 4.1vw;
  --normal--font--size: 20px;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.main_background {
  width: 100%;
  height: calc(100vh - 99px);
  background-image: url("images/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - var(--main--default--margin) * 2);
  height: 51px;
  margin-left: var(--main--default--margin);
  margin-right: var(--main--default--margin);
  padding-top: 3%;
}

.main_nav .nav_logo {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

.main_nav .nav_list {
  display: flex;
  width: calc(846 / 1920 * 100vw);
  justify-content: space-between;
  margin-left: 3%;
}

.main_nav .nav_list li {
  color: white;
  font-weight: 400;
  font-size: var(--normal--font--size);
}

.main_nav .nav_entry {
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav .nav_entry a {
  font-size: var(--normal--font--size);
}

.main_nav .nav_entry .entry_signup {
  width: 93px;
  height: var(--nav--entry--height);
  color: #ffcd00;
  text-align: center;
  line-height: var(--nav--entry--height);
  border: 2px solid #ffcd00;
  border-radius: 10px;
}

.content {
  width: calc(803 / 1920 * 100vw);
  height: calc(362 / 1080 * 100vh);
  /* width: 803px; */
  /* height: 362px; */
  margin-left: calc(168 / 1920 * 100vw);
  margin-top: calc(214 / 1080 * 100vh);
}

.content .des_01 {
  font-family: "Cabin Condensed", sans-serif;
  font-size: calc(27 / 1920 * 100vw);
  /* font-size: 27px; */
  font-weight: 600;
  font-style: normal;
  letter-spacing: 6px;
  background-image: linear-gradient(to right, #ff8a00, #ffc746);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.content .des_02 {
  margin-top: calc(14 / 1080 * 100vh);
  margin-bottom: calc(28 / 1080 * 100vh);
  font-size: calc(88 / 1920 * 100vw);
  /* font-size: 88px; */
  font-weight: 700;
  font-style: normal;
  color: white;
  line-height: 124%;
}

.content .content_buttons {
  width: calc(445 / 1920 * 100vw);
  display: flex;
  justify-content: space-between;
}

.content .content_buttons .content_add {
  color: white;
  width: calc(225 / 1920 * 100vw);
  height: calc(69 / 1080 * 100vh);
  font-size: calc(25 / 1920 * 100vw);
  border: 1px solid white;
  border-radius: calc(69 / 1080 * 100vh);
  background: transparent;
}

.content .content_buttons .content_listen {
  color: white;
  width: calc(194 / 1920 * 100vw);
  height: calc(69 / 1080 * 100vh);
  font-size: calc(25 / 1920 * 100vw);
  border: 1px solid black;
  border-radius: calc(69 / 1080 * 100vh);
  background: linear-gradient(to right, #ff5c00, #ffcd00);
}

.player {
  width: 100vw;
  height: 99px;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player .player_music {
  display: flex;
  justify-content: space-between;
  width: 184px;
  height: 61px;
  margin-left: var(--main--default--margin);
}

.player .player_music .music_introduce {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.player .player_music .music_introduce .music_title {
  font-size: var(--normal--font--size);
  font-weight: 500;
  font-style: normal;
}

.player .player_music .music_introduce .music_singer {
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
}

.player .player_play {
  display: flex;
  flex-direction: column;
}

.player .player_play .player_play_button {
  width: 411px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player .player_options {
  width: 137px;
  height: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--main--default--margin);
}

.icon {
  transition-duration: 0.5s;
}

.icon:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .main_nav .nav_list {
    display: none;
  }
  .player {
    display: none;
  }
  .main_background {
    height: 100vh;
  }
}
