.artist_background {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vw * 179 / 96);
  background-image: url("../assets/images/artist_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.grid {
  width: var(--grid-width);
}

.grid .main_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.grid .main_content {
  width: 655px;
  margin-top: 148px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.grid .main_content .title {
  font-style: normal;
  font-weight: 900;
  font-size: var(--font-size6);
  letter-spacing: 2px;
}

.grid .main_content .sub_title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  background: linear-gradient(to right, #ff4139, #ff5c00);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 2.2%;
}

.grid .main_content .intro {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size2);
  line-height: 140%;
  margin-bottom: 5.5%;
  color: rgba(255, 255, 255, 0.7);
}

.grid .main_content .button_box {
  width: 100%;
  margin-bottom: 14%;
  height: 9%;
}

.grid .main_content .learn_more {
  width: 25.2%;
  height: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 44px;
  background-color: transparent;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size2);
  line-height: 24px;
  margin-right: 2.5%;
  text-align: center;
}

.grid .main_content .follow {
  width: 20.3%;
  height: 100%;
  background: linear-gradient(360deg, #ff8413 0%, #ff4d34 100%);
  border-radius: 44px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: var(--font-size2);
  color: white;
  text-align: center;
  padding: 10px 16px;
  line-height: 24px;
}

.grid .main_content .track {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 143.52%;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.grid .main_content .track_list {
  display: flex;
  flex-direction: row;
  height: 18.3%;
  align-items: center;
}

.grid .main_content .track_list .track_img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.grid .main_content .track_list .track_img2 {
  margin-left: 65px;
}

.grid .main_content .track_des {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.grid .main_content .track_des .song_title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size3);
  line-height: 27px;
  margin-bottom: 5px;
}

.grid .main_content .track_des .singer {
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size1);
  line-height: 22px;
  /* identical to box height */

  color: #c1c1c1;
}

.grid .main_box .main_img {
  width: auto;
  height: 100%;
  position: absolute;
  right: -4.17%;
  bottom: 0;
  z-index: 1;
}

.grid .ad {
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 11%;
}

.grid .recommended {
  width: 100%;
  height: calc(var(--grid-width) * 312/1200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 135px;
}

.h2{
  display: inline;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size4);
  line-height: 39px;
}

.grid .recommended .recommended_text {
  width: 100%;
  height: 12.5%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.6%;
}

.grid .recommended .recommended_text .music_select {
  width: 13.25%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.08);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size1);
  line-height: 22px;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}

.grid .recommended .recommended_text .music_select option {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: black;
}

.grid .recommended .artists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid .recommended .artists .artist_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 11%;
  height: 68.6%; 
  /* 214px */
}

.grid .recommended .artists .artist_box img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20.4%;
}

.grid .recommended .artists .artist_box span {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: var(--font-size3);
  line-height: 120%;
}

.grid .best_live{
  width: 100%;
  height:  calc(var(--grid-width) * 700/1200);
  margin-bottom: 132px;
}

.grid .best_live .images{
  width: 100%;
  height: 86.4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 56px;
}

.grid .best_live .images img{
  border-radius: 10px;
}

.grid .best_live .images .img_left{
  width: 60.75%;
  height: 100%;
  background: rgba(182, 182, 182, 0.1);
  border-radius: 10px;
}

.grid .best_live .images .img_left .image_01{
  width: 100%;
  height: auto;
  margin-bottom: 1.5%;
}

.grid .best_live .images .img_left .title{
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 2.8rem;
line-height: 34px;
margin-left: 5.7%;
}

.grid .best_live .images .img_left .info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.9%;
  height: 5.95%;
}

.grid .best_live .images .img_left .info .left{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 38.5%;
  margin-left: 5.49%;;
}

.grid .best_live .images .img_left .info .right{
  width: 10.8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 5.49%;
}

.grid .best_live .images .img_left .info .profile{
  border-radius: 50%;
}

.grid .best_live .images .img_left .info span{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size1);
  line-height: 22px;
  /* identical to box height */
  color: rgba(255, 255, 255, 0.5);
}

.grid .best_live .images .img_left .info .dot{
}

.grid .best_live .images .img_left .info .time{
}

.grid .best_live .images .img_left .info .icon{
}

.grid .best_live .images .img_left .info .comment_count{
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size1);
  line-height: 120%;
}

.grid .best_live .images .img_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 36%;
}

.grid .best_live .images .img_right img{
  width: 100%;
  height: auto;
}

.grid .top_rated{
  width: 100%;
  height: height: calc(var(--grid-width) * 645/1200);;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 132px;
}

.grid .top_rated .txt_top_rated{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size4);
  line-height: 120%;
}

.grid .top_rated .cards{
  width: 100%;
  height: 85.3%;
  display: flex;
  justify-content: space-between;
  margin-top: 4.67%;
}

.grid .top_rated .cards .card{
  width: 31.5%;
  height: 100%;
  position: relative;
}

.grid .top_rated .cards .card img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.grid .top_rated .cards .card .card_info{
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  position: absolute;
  top: 60%;
  left: 0;
}

.grid .top_rated .cards .card .card_info .singer{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size3);
  line-height: 26px;
  margin-bottom: 10px;
}

.grid .top_rated .cards .card .card_info .stars{
  width: 34.9%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.grid .top_rated .cards .card .card_info .des{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: var(--font-size1);
  line-height: 24px;
  margin-bottom: 9.5%;
}

.grid .top_rated .cards .card .card_info .profile{
  width: 100%;
  padding: 0 6px;
  display: flex;
  align-items: center;
}
.grid .top_rated .cards .card .card_info .profile img{
  width: 11.1%;
  border-radius: 50%;
  margin-right: 15px;
}

.grid .top_rated .cards .card .card_info .profile span{
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size2);
  line-height: 24px;
}

@media (max-width:1200px){
  :root{
    --grid-width:960px;
  }
  html{
    font-size: 8px;
  }
  .grid .main_box .main_img {
    right: -16%;
  }
}