:root{
    --login-font-01 : 1.6rem;
    --login-font-02 : 1.8rem;
    --login-font-03 : 2.1rem;
    --login-font-04 : 4.8rem;
}

input{
    outline: none;
}

.login-background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/login_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -100;
}

.enter-box{
    width: 1462px;
    height: 740px;
    justify-self: center;
    align-self: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    display: flex;
    position: relative;
    border-radius: 10px;
}

.enter-box .container{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-box .container .sign-in{
    width: 61.56%;  
    height: 69.34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-box .container .sign-up{
    width: 61.56%;  
    height: 75.63%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enter-box .container .txt-01{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: var(--login-font-04);
    line-height: 58px;
}

.enter-box .container .txt-02{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: var(--login-font-03);
    line-height: 25px;
    opacity: 0.8;
}

.enter-box .container .txt-03{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: var(--login-font-02);
    line-height: 25px;
    opacity: 0.8;
}

.enter-box .container button{    
    background: linear-gradient(270deg, #F9B804 0%, #FD8303 100%);
    border-radius: 100px;
    color: black;
    font-weight: 600 !important;
}

.enter-box .sign-in button{
    width: 99.56%;
    height: 9.2%;
}

.enter-box .sign-up button{
    width: 99.56%;
    height: 8.54%;
}

.enter-box .container input{    
    border: 2px solid #FFFFFF;
    background-color: transparent;
    border-radius: 100px;
    padding: 0 8.9%;
    color: white;
}

.enter-box .container .socials{
    width: 55.56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.enter-box .sign-in .socials{
    height: 9.81%;
}

.enter-box .sign-up .socials{
    height: 9.1%;
}

.enter-box .container .socials img{
    width: auto;
    height: 100%;
}

.enter-box .sign-in input{
    width: calc(99.56% - 17.8%);
    height: 9.2%;
}

.enter-box .sign-up input{
    width: calc(99.56% - 17.8%);
    height: 8.54%;
}

.enter-box .sign-in span:nth-child(1){
    margin-bottom: 0.67%;
}

.enter-box .sign-in span:nth-child(2){
    margin-bottom: 9.1%;
}

.enter-box .sign-in .input-email{
    margin-bottom: 6.67%;
}

.enter-box .sign-in .input-pw{
    margin-bottom: 6.67%;
}

.enter-box .sign-in span:nth-child(5){
    margin-bottom: 6.67%;
}

.enter-box .sign-in button{
    margin-bottom: 6.67%;
}

.enter-box .sign-in span:nth-child(7){
    margin-bottom: 5.78%;
}

.enter-box .sign-up span:nth-child(1){
    margin-bottom: 6.67%;
}

.enter-box .sign-up input:nth-child(2){
    margin-bottom: 6.67%;
}

.enter-box .sign-up input:nth-child(3){
    margin-bottom: 6.67%;
}

.enter-box .sign-up input:nth-child(4){
    margin-bottom: 7.56%;
}

.enter-box .sign-up div:nth-child(5){
    margin-bottom: 5.78%;
}

.enter-box .sign-up button:nth-child(6){
    margin-bottom: 6.67%;
}

.enter-box .sign-up span:nth-child(7){
    margin-bottom: 5.78%;
}

.enter-box .sign-up .agree{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: var(--login-font-01);
    line-height: 19px;
}

.enter-box .sign-up .agree input{
    width: 4.45%;
    height: 100%;
    margin-right: 5px;
}

.enter-box .sign-up .agree span{
    opacity: 0.8;
}

.enter-box .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(253, 134, 4, 0.6) 0%, rgba(250, 182, 4, 0.6) 100%);
    border-radius: 10px;
}