.music_background {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: calc(100vw * 179 / 96);
  background-image: url("../assets/images/music_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -100;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--grid-width);
}

.grid .main {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16.5%;
  margin-bottom: 10.8%;
}

.grid .main .title {
  color: #b7b7b7;
  font-family: "Inter", "sans-sefif";
  font-size: var(--font-size2);
  font-weight: bold;
  line-height: 134.68%;
  letter-spacing: 8px;
}

.grid .main .des {
  font-size: var(--font-size5);
  font-weight: 900;
  background: linear-gradient(to right, #3c1dff, #d73b47);
  color: transparent;
  -webkit-background-clip: text;
}

.grid .songs {
  font-family: "Inter", "sans-serif";
  width: 100%;
  height: calc(var(--grid-width) * 658/1200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

h2 {
  width: 100%;
  margin: 0;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size4);
  line-height: 39px;
}

.grid .songs .songs_table {
  display: grid;
  grid-template-columns: 12% 4.5% 41% 15.5% 9% 9% 9%;
  grid-template-rows: 73px repeat(5, 102px);
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 88.9%;
}

.grid .songs .songs_table .tr{
  grid-column: 1/8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size3);
  line-height: 27px;
  /* identical to box height */
  color: #474747;
  border-bottom: 2px solid #474747;

}

.grid .songs .songs_table .tr .tr1{
  flex: 57.5;
  text-align: center;
}

.grid .songs .songs_table .tr .tr2{
  flex: 15.5;
}

.grid .songs .songs_table .tr .tr3{
  flex: 9;
}

.grid .songs .songs_table .tr .tr4{
  flex: 9;
}

.grid .songs .songs_table .tr .tr5{
  flex: 9;
}

.grid .songs .songs_table .table_album {
  width: 62px;
  height: 62px;
  border-radius: 3px;
}

.grid .songs .songs_table .table_play_icon {
  width: 13px;
  height: 17px;
  color: rgba(255, 255, 255, 0.2);
  justify-self: start;
}

.grid .songs .songs_table .table_music {
  justify-self: start;
  display: flex;
  flex-direction: column;
  color: white;
}

.grid .songs .songs_table .table_music .music_title {
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size3);
  line-height: 27px;
}

.grid .songs .songs_table .table_music .music_singer {
  color: #c1c1c1;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size1);
  line-height: 21.78px;
}

.grid .songs .songs_table .songs_text {
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size1);
  line-height: 22px;
}

.grid .songs .songs_table .table_album_type {
  justify-self: start;
}

.grid .songs .songs_table .table_time {
  text-align: center;
}

.grid .songs .songs_table .table_plays {
  text-align: center;
}

.grid .songs .songs_table .table_heart {
  text-align: center;
  transition-duration: 0.5s;
}

.grid .songs .songs_table .table_heart:hover{
  transform: scale(1.2);
}

.grid .noteworthy_albums {
  width: 100%;
  height: calc(var(--grid-width) * 468/1200);
  margin-bottom: 11%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid .noteworthy_albums .album_list {
  width: 100%;
  height: 77.5%;
  /* 363px */
  display: flex;
  justify-content: space-between;
  position: relative;
}

.grid .noteworthy_albums .album_list .album_box {
  width: 21.25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.grid .noteworthy_albums .album_list .album_box:hover {
  background: linear-gradient(
    180deg,
    rgba(255, 205, 0, 0.13) 38.41%,
    #ffcd00 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grid .noteworthy_albums .album_list .album_box .album_image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-bottom: 6.9%;
}

.grid .noteworthy_albums .album_list .album_box .album_image:hover{
  
}

.grid .noteworthy_albums .album_list .album_box .album_name {
  font-style: normal;
  font-weight: bold;
  font-size: var(--font-size3);
  line-height: 27px;
  text-align: center;
  margin-bottom: 1.94%;
}

.grid .noteworthy_albums .album_list .album_box .album_singer {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: var(--font-size1);
  line-height: 22px;
  color: #c1c1c1;
  margin-bottom: 7.46%;
}

.grid .recommended_albums {
  width: 100%;
  height: calc(var(--grid-width) * 683/1200);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 131px;
}

.grid .recommended_albums .album_images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 86.1%;
}

.grid .recommended_albums .album_images .image01{
  width: 49%;
}

.grid .recommended_albums .album_images .image_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22.25%;
}

.grid .recommended_albums .album_images .image {
  border-radius: 11px;
}
