:root {
  --nav-margin: 4.17vw;
  --nav-font-01:3.5rem;
  --nav-font-02:2.0rem;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 51px;
  padding-top: 3%;
}

.main_nav .nav_logo {
  font-family: "helvetica", "Arial", sans-serif;
  letter-spacing: 0.01em;
  color: white;
  font-size: var(--nav-font-01);
  font-weight: 700;
  margin-left: var(--nav-margin);
}

.main_nav .nav_list {
  display: flex;
  width: calc(846 / 1920 * 100vw);
  justify-content: space-between;
  margin-left: 3%;
}

.main_nav .nav_list .current_page {
  text-decoration: underline;
}

.main_nav .nav_list li {
  color: white;
  font-weight: 400;
  font-size: var(--nav-font-02);
}

.main_nav .nav_list .nav_search_box {
  display: flex;
}

.main_nav .nav_list .nav_search_box .icon_search {
  margin-left: 3%;
}

.main_nav .nav_list .nav_search_box .search_text {
  width: 0px;
  height: 100%;
  color: white;
  outline: none;
  background: transparent;
  border: none;
  transition-duration: 1s;
}

.main_nav .nav_entry {
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: var(--nav-margin);
}

.main_nav .nav_entry a {
  font-size: var(--nav-font-02);
}

.main_nav .nav_entry .entry_signup {
  width: 52.2%;
  height: 76.5%;
  color: #ffcd00;
  text-align: center;
  line-height: 39px;
  border: 2px solid #ffcd00;
  border-radius: 10px;
}

.hamburger {
  display: none;
}

.side_nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 100%;
  width: 60%;
  height: 100%;
  transition-duration: 1s;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.side_nav .side_nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side_nav .side_nav_list li {
  margin: 10px 0;
}

.side_nav_close {
  text-align: left;
  font-size: 50px;
  color: white;
  outline: none;
  border: none;
  background-color: transparent;
}

@media (max-width:1200px){
  html{
    font-size: 8px;
  }

  .main_nav .nav_entry {
    width: 143px;
  } 
}

@media (max-width:768px){
  .main_nav .nav_list{
    display: none;
  }
  .main_nav .nav_entry {
    width: 178px;
  } 
  .main_nav .hamburger{
    width: 30px;
    display: inline-block;
  }
  .main_nav .nav_entry .entry_signup {
    width: 40%;
  }
}